body {
  background: rgb(40, 98, 121);
}

.border {
  border-style: inset;
  border-width: 1px;
  margin: 10px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div > input {
  margin: 0.5rem;
}

.login {
  border: solid 2px #777;
  width: 50%;
  background-color: aliceblue;
}

.logout {
  border: solid 2px #777;
  width: 10%;
  background-color: rgb(137, 176, 211);
}

a.text {
  text-decoration: none;
  font-weight: 700;
}

form {
  padding: 3px;
  width: 400px;
}

form input {
  background-color: rgb(145, 143, 143);
  border: silver solid 2px;
  padding: 10px; 
  width: 70%; 
  margin-right: 0.5%;
}

form button { 
  width: 15%;
  background: rgb(130, 224, 255);
  border: none; 
  padding: 10px; 
}

.btn {
  background-color: rgb(85, 85, 85);
  color: white;
}

.btn:hover {
  background-color: rgb(29, 29, 29);
  cursor: pointer;
}

#rdy-btn {
  width: 100%;
  font-size: large;
}

#start-btn {
  background-color: rgb(102, 77, 14);
  width: 100%;
  font-size: large;
}

#roll-btn {
  width: 100%;
  font-size: large;
}

#reroll-btn, #end-turn-btn {
  width: 80%;
  font-size: large;
}

#messages { 
  width: 400px; 
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  height: 20em;
  overflow: scroll;
  overflow-x: hidden;
  float: left;
}

#messages li { 
  padding: 5px 10px;
}

#messages li:nth-child(odd) { 
  background: #eee;
}

.board {
  float: right;
  width: 75%;
  min-height: 500px;
  border-radius: 15px;
  border: 3px solid rgb(128, 94, 0);
  background: rgb(128, 94, 0);
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

.pos-border {
  border: 5px solid black;
  border-radius: 25px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: white;
  width:30%;
  height:30%;
  margin-left: 160px;
}

.pos-border-rdy {
  border: 5px solid lightgreen;
  border-radius: 25px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: white;
  width:30%;
  height:30%;
  margin-left: 160px;
}

.pos-border-sheriff {
  border: 5px solid rgb(158, 160, 42);
  border-radius: 25px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: white;
  width:30%;
  height:30%;
  margin-left: 160px;
}

.pos-border-canvas {
  border: 2px solid black;
  position: absolute;
  width: 220px;
  height: 105px;
  margin: 10px;
}

#application {
  right: 375px;
  bottom: 215px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.dice:hover {
  border: 1px solid black;
  cursor: pointer;
}

.select {
  border: 3px solid rgb(64, 212, 121);
}

.drop-beer {
  border: 5px solid rgb(224, 226, 76);
}

.drop-bang {
  border: 5px solid rgb(233, 86, 50);
}